@{
    Layout = "Shared/Admin_Header.cshtml";
}
    <header id="main-header" class="py-2 bg-success text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><i class="fa fa-pencil"></i> Categories</h1>
          </div>
        </div>
      </div>
    </header>

    <!-- ACTIONS -->
    <section id="actions" class="py-4 mb-4 bg-faded">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  
                  <section id="actions" class=" bg-faded">
                      <div class="container">
                          <div class="row">
                              <div class="">
                                  <a href="add_items.cshtml" class="btn btn-primary btn-block" ><i class="fa fa-plus"></i> Add New Categories</a>
                              </div>
                          </div>
                      </div>
                  </section>

              </div>
                            <div class="col-md-6">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search Categories...">
                      <span class="input-goup-btn">
                          <button type="button" class="btn btn-success" name="button">search</button>
                      </span>
                  </div>
              </div>

          </div>
      </div>
    </section>

<!--Post-->
<!-- POSTS -->
  <section id="categories">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <h4>All Categories</h4>
              </div>
              @{
                  var db = Database.Open("HELLOPROGRAMMERS");
                  var query = "select * from categories";

              }
              <div class="">
                  <table class="table table-striped">
                      <thead class="thead-inverse">
                      <tr>
                          <th>#</th>
                          <th>Categories Name</th>
                          <th> Action </th>
                      </tr>
                      </thead>

                      <tbody>
                      @foreach (var row in db.Query(query))
                      {
                               
                          <tr>
                              <td scope="row">@row.c_id</td>
                              <td>@row.c_name</td>
                              <td>
                                  <a href="categories.cshtml?c_id=@row.c_id">Edit </a>
                                  ||
                                  <a href="categories.cshtml?c_id=@row.c_id">Delete</a>
                              </td>
                          </tr>

                      }
 
                      </tbody>
                  </table>
              </div>
              
                           <nav class="ml-4">
              <ul class="pagination">
                <li class="page-item">
                  <a href="#" class="page-link disabled">Previous</a>
                </li>
                <li class="page-item active">
                  <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
          <div class="col-md-6">
              @{
                  var c_id = "";
                  var c_name = "";

                  var selected_id = "";
                  if (!IsPost)
                  {
                      selected_id = Request.QueryString["c_id"];
                      var dbCommand = "select * categories where c_id = @0";
                      var row = db.QuerySingle(dbCommand, selected_id);
                      c_id = row.c_id;
                      c_name = row.c_id;


                  }
              }
              
              <form method="post">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Categories ID</label>
                      
                      <div class="form-group">
                          <label>Example select</label>
                          <select name="c_id" value="@c_id" class="form-control">
                              
                              @{

                                  foreach (var row in db.Query(query))
                                  {
                                      var add = row.c_id + 1;
                                      
                                      <option>@add</option>
                              
                                  }
                              }
                          </select>
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="text" name="c_name" value="@c_name" class="form-control" id="" placeholder="Categories">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              @{
                  
                  if (IsPost)
                  {
                      c_id = Request.Form["c_id"];
                      c_name = Request.Form["c_name"];

                      query = "insert into categories (c_id,c_name) values (@0,@1)";
                      db.Execute(query, c_id, c_name);
                      Response.Redirect("categories.cshtml");
                  }
              }
             
          </div>  


      </div>
    </div>
  </section>


  <footer id="main-footer" class="bg-inverse text-white mt-5 p-5">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="lead text-center">Copyright &copy; 2017 </p>
          </div>
        </div>
      </div>
    </footer>



    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script>
      CKEDITOR.replace('editor1');
    </script>
</body>
</html>
