<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="css\bootstrap.css">
<link rel="stylesheet" href="css\font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
<title>Admin area</title>
</head>
<body>
  <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse p-0">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="index.cshtml" class="navbar-brand mr-3">AdminArea</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item px-2">
              <a href="index.cshtml" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item px-2">
              <a href="products_details.cshtml" class="nav-link active">Products</a>
            </li>
            <li class="nav-item px-2">
              <a href="categories.cshtml" class="nav-link">Categories</a>
            </li>
            <li class="nav-item px-2">
              <a href="users.cshtml" class="nav-link">Users</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mr-3">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Welcome Admin</a>
              <div class="dropdown-menu">
                <a href="profile.cshtml" class="dropdown-item">
                  <i class="fa fa-user-circle"></i> Profile
                </a>
                <a href="settings.cshtml" class="dropdown-item">
                  <i class="fa fa-gear"></i> Settings
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a href="login.cshtml" class="nav-link">
                <i class="fa fa-user-times"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header id="main-header" class="py-2 bg-primary text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><i class="fa fa-pencil"></i> post</h1>
          </div>
        </div>
      </div>
    </header>

    <!-- ACTIONS -->
    <section id="actions" class="py-4 mb-4 bg-faded">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Posts...">
              <span class="input-goup-btn">
                <button type="button" class="btn btn-primary" name="button">search</button>
              </span>
            </div>
          </div>

        </div>
      </div>
    </section>

<!--Post-->
<!-- POSTS -->
  <section id="posts">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Latest Posts</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Title</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Cost</th>
                    <th>Size</th>
                  <th>Date Posted</th>
                  <th>Action</th>
                </tr>
              </thead>
                <tbody>
                @{
                    var db = Database.Open("HELLOPROGRAMMERS");

                    var displayQuery = "select * from products";

                                    }
                
                @{
                    foreach (var row in db.Query(displayQuery))
                    {
                        <tr>
                            <td scope="row">@row.p_id</td>
                            <td>@row.p_name</td>
                            <td>@row.c_name</td>
                            <td>@row.p_description</td>
                            <td>@row.p_cost</td>
                            <td>@row.p_size</td>
                            <td>12/122/21</td>
                            <td><a href="details.cshtml" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
                        </tr>
                    }
                }
                
                </tbody>
            </table>
            <nav class="ml-4">
              <ul class="pagination">
                <li class="page-item">
                  <a href="#" class="page-link disabled">Previous</a>
                </li>
                <li class="page-item active">
                  <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

      </div>
    </div>
  </section>


  <footer id="main-footer" class="bg-inverse text-white mt-5 p-5">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="lead text-center">Copyright &copy; 2017 </p>
          </div>
        </div>
      </div>
    </footer>



    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script>
      CKEDITOR.replace('editor1');
    </script>
</body>
</html>
