@{
    Layout = "Shared/Admin_Header.cshtml";
}
<header id="main-header" class="py-2 bg-warning text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-users"></i> Users</h1>
            </div>
        </div>
    </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-faded">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Users...">
                    <span class="input-goup-btn">
                        <button type="button" class="btn btn-success" name="button">search</button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</section>

@{
    var db = Database.Open("HELLOPROGRAMMERS");

}
<!--Post-->
<!-- POSTS -->
<section id="users">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Users Details</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Date Register</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        @{
                            var query = "select * from users";
                            foreach (var row in db.Query(query))
                            {
                             
                                <tr>
                                    <td scope="row">@row.u_id</td>
                                    <td>@row.u_name</td>
                                    <td>@row.u_lastname</td>
                                    <td>@row.u_email</td>
                                    <td>@row.u_address</td>
                                    <td>@row.date_register</td>
                                    <td>
                                        <a href="edit_users.csthml">Edit</a>
                                        ||
                                        <a href="users.cshtml">Delete</a>
                                    </td>
                                </tr>
   
                            }
                        }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</section>


<footer id="main-footer" class="bg-inverse text-white mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">Copyright &copy; 2017 </p>
            </div>
        </div>
    </div>
</footer>



<script src="js/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor1');
</script>
</body>
</html>
